*{
    margin: 0;
    padding: 0;
}

img .pan {
z-index: 1 !important;
justify-content: center;
}

img .pan-cierre {
    z-index: -10 !important;
    justify-content: center;
}

button{
    z-index: 10 !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0;
    color: none !important;
    text-decoration: none;
    background-color:rgba(255,255,255,0) !important;
    border: 0px solid rgba(255,255,255,0);
}

.list-group-item img {
    margin-top: -12px;
    margin-bottom: -12px;
}

#seccionMuestraextras img {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}