*{
    margin: 0;
    padding: 0;
}

img .pan {
z-index: 1 !important;
justify-content: center;
}

img .pan-cierre {
    z-index: -10 !important;
    justify-content: center;
}

button{
    z-index: 10 !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0;
    color: none !important;
    text-decoration: none;
    background-color:rgba(255,255,255,0) !important;
    border: 0px solid rgba(255,255,255,0);
}

.list-group-item img {
    margin-top: -12px;
    margin-bottom: -12px;
}

#seccionMuestraextras img {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.btn-primary{
    color: #fff !important;
    background-color: #53270F !important ;
    border-color: #53270F !important;
}

.btn-secondary{
    color: #fff !important;
    background-color: #F4A53C !important ;
    border-color: #F4A53C !important;
}

h1 {
    font-size: 60px;
    /*background-color: #F4A53C !important ;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
*/
}

.btn-danger{
    background-color: #000 !important ;
    border-color: #000 !important;
    width: 80% !important;
    height: 40px !important;
}

.btn-danger:hover {
    color: #fff !important;
    background-color: #F4A53C !important;
    border-color: #F4A53C !important;
}

#pagar {
    border: solid 1px #000;
    padding: 20px;
    border-radius: 10px;
}

#pagar #total h2 {
    font-size: 40px;
    color: #000 ;
}

.nombre-extra{
    font-size: 12px;
    color: #000 ;
}
